body { 
    font: 900 120px/1 'Source Sans Pro', Arial, sans-serif; 
    text-transform: uppercase; color:
    #d7fc0d; text-align: center; letter-spacing: 3px; padding-top: 0%;
 }

.text {
  /* position: absolute;
  top: 35%;*/
  width: 100%; 
/* hsl(69, 100%, 50%) */
  text-shadow:     0 1px 0 hsl(69, 100%,80%),
	                 0 2px 0 hsl(69, 100%,75%),
	                 0 3px 0 hsl(69, 100%,70%),
	                 0 4px 0 hsl(69, 100%,66%),
	                 0 5px 0 hsl(69, 100%,64%),
	                 0 6px 0 hsl(69, 100%,62%),
	                 0 7px 0 hsl(69, 100%,61%),
	                 0 8px 0 hsl(69, 100%,60%),
	
	                 0 0 5px rgba(215, 252, 13,.05),
	                0 1px 1.5px rgba(215, 252, 13,.2),
	                0 2px 2.5px rgba(215, 252, 13,.2),
	               0 3px 3.5px rgba(215, 252, 13,.2),
	              0 4px 4.5px rgba(215, 252, 13,.2),
	              0 5px 5.5px rgba(215, 252, 13,.3);
}