.grid-container {
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-container-usluge {
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto;
  padding: 0px;
  margin: 0;
}

.grid-item {
  padding: 0px;
}

.grid-container-naslovna {
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto;
  padding: 0;
}

.grid-item-naslovna {
  padding: 0;
}

#naslovna {
  margin-top: 3vmin;
  padding: 100px;

  color: rgb(231, 250, 124)
  }