.grid-container {
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-container-usluge {
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  padding: 10px;
}

.grid-container-naslovna {
  display: grid;
  gap: 0px;
  grid-template-columns: auto auto;
  padding: 0;
}

.grid-item-naslovna {
  padding: 0;
}