/* body{ font-family: sans-serif; font-size: 2em; } */

.coolShadow {
    color: rgb(215,255,0,0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 3vmin;
    line-height: 1;
    text-align: left;
    /* text-shadow: 
      -1px 1px 0 #000,
      -2px 2px 0 #000,
      -3px 3px 0 #000,
      -4px 4px 0 #000,
      -5px 5px 0 #000,
      -6px 6px 0 #000,
      -7px 7px 0 #000,
      -8px 8px 0 #000,
      -9px 9px 0 #000,
      -10px 10px 0 #000,
      -11px 11px 0 #000,
      -12px 12px 0 #000,
      -13px 13px 0 #000,
      -14px 14px 0 #000,
      -15px 15px 0 #000,
      -16px 16px 0 #000,
      -17px 17px 0 #000; */
      
}

.coolShadow::after {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red;
}