@import url("https://fonts.googleapis.com/css?family=Tangerine");


.blinking-cursor {
  user-select: none;

  animation: blink 1s steps(2, start) infinite;
 }

@keyframes blink {
  to {
    visibility: hidden; } }

    #typetext {
      z-index: 130 !important;
      white-space:pre;
    }