.var-highlight {
    color: #c0ad60;
}
.string-highlight {
    color: rgba(253, 149, 90, 0.8);
}
#typewriter {
    position: 'absolute';
    font-size: 3.5em;
    margin: 0;
    left: -250px important;
    font-family: "Courier New";
    text-align: left;
    color: rgb(215, 255, 0);
    font-weight: bold;
}
#typewriter:after {
    content: "|";
    animation: blink 400ms linear infinite alternate;
}
@-webkit-keyframes blink {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@-moz-keyframes blink {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes blink {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
