#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 0.3rem;
}

.klogo {
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.klogo:hover {
  filter: drop-shadow(0 0 20em #646cffaa);
}
.klogo.react:hover {
  filter: drop-shadow(0 0 20em #61dafbaa);
}


.menu {
  font-size: 15px
}
.menu:hover {
  /* background-image: url('/public/assets/img/sahovnica.svg'); */
  background: -webkit-linear-gradient(red,red, red,red, white, white, blue, blue, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 20px
}
.menu.react:hover {
  background-image: url('/public/assets/img/sahovnica.svg');
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.social {
position: absolute;
right: 100px;
bottom: 100px;
height: 150px;
}

.plogo {
  /* position: absolute;
  right: 100px; */
  fill: white;
  bottom: 100px;
  height: 18px;
  }

.kimg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%px;
}

.kontakt {
  position: absolute;
  top: 20%;
  left: 100px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




  .board {
    display: grid;
    grid-template-columns: repeat(8, 36px);
  }

  .square {
    width: 36px;
    height: 36px;
    background: white;
  }

  .square:nth-child(16n + 1),
  .square:nth-child(16n + 3),
  .square:nth-child(16n + 5),
  .square:nth-child(16n + 7),
  .square:nth-child(16n + 10),
  .square:nth-child(16n + 12),
  .square:nth-child(16n + 14),
  .square:nth-child(16n + 16) {
    background: red;
  }
